<%- include("header") -%> 

<h1>Hi Hello Vanakaam Adaaab Na Peru Mik Enduku</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est ipsam ea nobis voluptatem labore officia repudiandae ullam itaque cumque alias, voluptatibus consequuntur possimus quo iure eos a explicabo perferendis quidem? Veniam, illum.</p>

<%- include("footer") -%> 